/* Skills Module Specific Styles */

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(194, 101, 42, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(194, 101, 42, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(194, 101, 42, 0.6);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
